.App {
  margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 1%;
  margin-left: 1%;
}

@media (min-width: 1200px) {
  .card-img,
  .card-img-bottom,
  .card-img-top {
    width: 70% !important;
  }

  .small-card-img {
    width: 100% !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-deck .card {
  flex: none !important;
  margin-bottom: 20px !important;
  justify-content: center;
}
.filled-starm,
.empty-star {
  cursor: pointer;
}
.linkAsText {
  text-decoration: none !important;
  color: black;
  text-align: center !important;
}
.card-title {
  margin-top: 0px;
  margin-bottom: 20px;
}
.justify {
  text-align: justify !important;
}
.container-fluid {
  width: 100%;
}
body {
  background-color: whitesmoke;
}
.filmSmallCard {
  width: 18rem;
  padding-bottom: 1rem !important;
}
